/* HEADER */

.main-bgrd {
  /* background-image: url("../img/main-background.png"); */
  background-image: url("../img/main-background.png");
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
  align-items: center;
}

.mobile-btn-open {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.mobile-btn-close {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  color: red;
}

.main-nav {
  display: flex;
  align-items: center;
}

.mobile-burger {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-cross {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 1.3rem;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #ffffff;
}

.click {
  padding: 1.2rem 1.6rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* DESIGN AND DEVELOPMENT SECTION */

.design-development-container {
  max-width: 42.1rem;
  display: flex;
  flex-direction: column;
}

.design-dev-heading {
  margin-bottom: 3.5rem;
}

.design-development {
  height: 120vh;
  display: flex;
  padding-top: 10rem;
}

.design-dev-heading {
  font-size: 4.2rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 5rem;
}

.design-dev-description {
  font-size: 1.1rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 3rem;
  margin-bottom: 3.5rem;
}

/* RELIABLE-WEB-SECTION */

.web-devide-stick {
  background: #e8e8e8;
  width: 1px;
  height: 25rem;
  margin-right: 2rem;
}

.reliable-web-section {
  margin-top: -8rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.reliable-web-container {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 2;
  background: #ffffff;
}

.reliable-main-right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.reliable-main-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reliable-main-left-section div {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 80%;
}

.reliable-web-desscription {
  display: flex;
  flex-direction: column;
  gap: 5.1rem;
  line-height: 3rem;
  color: #737373;
  font-weight: 400;
  font-size: 1.1rem;
}

.reliable-web-desscription p {
  max-width: 80%;
}

.reliable-main-heading {
  font-size: 2.6rem;
  line-height: 3.8rem;
}

.reliable-web-desscription {
  font-size: 1.1rem;
}

.reliable-subheading {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #737373;
}

/* WHERE ARE YOU SECTION */

.where-you-main-head {
  text-align: center;
  margin-top: 5rem;
}

.where-you-main-heading {
  margin-bottom: 3.5rem;
  font-weight: 400;
  font-size: 4.1rem;
  line-height: 5rem;
  color: #000000;
}

.where-you-secondary-heading {
  margin-bottom: 8.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #737373;
  padding-left: 3rem;
  padding-right: 3rem;
}

.where-now-main-links {
  display: flex;
  gap: 10rem;
  justify-content: center;
  font-weight: 400;
}

.where-now-link:link,
.where-now-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #000000;
}

.where-now-main-links .active {
  color: #0a8bfe;
}

.where-now-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 5rem;
}

.where-now-list-links {
  border: 1px solid #e8e8e8;
  padding: 3.8rem 6rem 4.1rem 4rem;
}

.where-now-links-descriptio-head {
  color: #000000;
  line-height: 2.8rem;
  font-size: 1.9rem;
  margin-bottom: 2.3rem;
}

.where-now-links-description {
  font-size: 1.6rem;
  color: #737373;
  line-height: 3rem;
}

.where-now-btn {
  text-align: center;
  margin-top: 5rem;
}

/* PROUND WORK SECTION */

.proud-work-section {
  height: 160vh;
  background: #0e0e33;
  padding-bottom: 300px;
}

.proud-work-head {
  padding-top: 15rem;
  margin-top: 15rem;
  color: #ffffff;
  padding-bottom: 10rem;
}

.proud-work-heading {
  text-align: center;
  line-height: 50px;
  font-size: 41px;
  font-weight: 400;
}

.proud-work-subhead {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 8rem;
}

.subhead-cnt-head {
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
}

.subhead-cnt-description {
  font-size: 1.1rem;
  line-height: 3rem;
}

.proud-work-main-section {
  margin-top: -35rem;
}

.proud-work-main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 5rem;
}

.pround-work-main-content-box {
  background: #ffffff;
  padding: 1rem 1rem 4.4rem 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.proud-work-main-img {
  width: 100%;
}

.pround-work-main-cnt-heading {
  color: #000000;
  font-size: 2.4rem;
  line-height: 3.8rem;
  padding: 4.5rem 0 0 4rem;
  margin-bottom: 2.5rem;
}

.proud-work-main-content-description {
  color: #737373;
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 0 6.7rem 0 4rem;
}

.proud-work-btn {
  display: flex;
  justify-content: center;
  margin-top: 4.1rem;
}

/* RELATIONSHIP VALUE SECTION */

.value-relatuionship-head {
  padding-top: 13.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value-relationship-main-heading {
  margin-bottom: 3.9rem;
  font-size: 4.1rem;
  line-height: 5rem;
  text-align: center;
}

.value-relationship-subheading {
  padding-left: 10rem;
  padding-right: 10rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #737373;
  margin-bottom: 1rem;
}

.relationship-logo-container {
  padding-top: 7rem;
}

.relationshop-companies-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background: #fafafa;
  padding: 6rem 8rem;
  row-gap: 7rem;
  width: 100%;
}

/* REGIONAL PARTNERS SECTION */

.regional-partners-sectiont {
  margin-top: 5.9rem;
}

.regional-partners-head {
  text-align: center;
  color: #000000;
  font-weight: 400;
  line-height: 5rem;
  font-size: 4.2rem;
  margin-bottom: 3.1rem;
}

.regional-partners-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3rem;
  column-gap: 3rem;
}

.regional-partners-content-box {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-bottom: 5rem;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.city-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 80%;
  padding-right: 3rem;
}

.regional-main-heading {
  color: #737373;
  font-size: 1.5rem;
  line-height: 3rem;
}

.regional-subheading {
  color: #000000;
  font-size: 2rem;
  line-height: 2.8rem;
}

/* REQUEST SECTION */

.request-section {
  margin-top: 5rem;
  background-image: url("../img/request-bgr.png");
  height: 140vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10rem;
}

.section-cnt-container {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.request-heading {
  margin-bottom: 12.5rem;
  font-size: 2.5rem;
  line-height: 3.8rem;
}

.request-head {
  width: 80%;
}

.request-form {
  background: #ffffff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.service-inp {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid #e8e8e8;
  margin-bottom: 3rem;
}

.textarea::placeholder,
.service-inp::placeholder {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 700;
}

.textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  resize: none;
  border: 1px solid #e8e8e8;
}

.request-btn {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

/* INDUSTRY APPROVE SECTION */

.industry-approve-section {
  margin-top: 20rem;
  background: #fafafa;
  padding-top: 15rem;
  padding-bottom: 19rem;
  display: flex;
  justify-content: center;
}

.industry-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.industry-heading {
  font-size: 4.1rem;
  line-height: 5rem;
  margin-bottom: 3.5rem;
}

.industry-subheading {
  font-size: 1.6rem;
  max-width: 90%;
  line-height: 3rem;
}

.industry-head {
  width: 50%;
}

.industry-logo-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5rem;
  padding-right: 4rem;
}

/* RESOURCES SECTION */

.resource-section {
  padding-top: 15rem;
  padding-top: 10rem;
}

.resource-head {
  text-align: center;
  margin-bottom: 7.5rem;
}

.resource-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 3rem;
}

.resource-main-content {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 5.5rem 1rem;
}

.resource-img {
  width: 100%;
}

.resource-heading {
  padding: 5rem 3rem 2rem 3rem;
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.resource-subheading {
  padding: 2rem 3rem 0 3rem;
  font-size: 1.6rem;
  color: #737373;
  line-height: 3rem;
}

/* FAQ SECTION */

.faq-section {
  padding-top: 15rem;
  background: #fafafa;
  padding-bottom: 14rem;
}

.faq-head {
  text-align: center;
}

.faq-email:link,
.faq-email:visited {
  text-decoration: none;
  color: #0a8bfe;
  font-size: 1.5rem;
}

.faq-heading {
  font-size: 4.2rem;
  margin-bottom: 3.5rem;
}

.faq-subheading {
  font-size: 1.3rem;
  color: #737373;
  margin-bottom: 10.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 3rem;
}

.faq-link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.faq-main-link {
  display: flex;
  justify-content: space-between;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  border-bottom: 1px solid #e8e8e8;
  font-size: 2.4rem;
  line-height: 3rem;
}

.faq-main-link span {
  padding: 0.8rem;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

/* QUICK START SECTION */

.quickstart-section {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.quickstart-head {
  text-align: center;
}

.quickstart-heading {
  font-size: 4.1rem;
  line-height: 5rem;
  margin-bottom: 3.5rem;
}

.quickstart-subheading {
  color: #737373;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3rem;
}

.qickstart-content-container {
  margin-top: 7.3rem;
}

.quickstart-link-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.quickstart-main-link {
  border: 2px solid #e8e8e8;
  border-radius: 3rem;
  padding: 1.6rem 3.6rem;
  cursor: pointer;
  transition: all 0.5s;
}

.quickstart-main-link:hover {
  background-color: #3bc9db;
  color: #fff;
}

/* FOOTER */

.footer {
  background: #0e0e33;
  padding-top: 12rem;
}

.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-head-description {
  color: #ffffff;
  font-size: 1.5rem;
}

.footer-logo-heading {
  color: #ffffff;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.footer-link-heading {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.footer-links {
  color: #ffffff;
  padding-top: 10rem;
  padding-bottom: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.footer-main-link:link,
.footer-main-link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.footer-link-list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-link-list {
  list-style-type: none;
}

.footer-end {
  color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-social-link-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}

.map-box {
  display: flex;
  justify-content: flex-end;
}

.main-social-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}

.copyright {
  line-height: 3rem;
}